:root {
  --black: #151515;
  --blue: #2452cc;
  --green: #39613b;
  --gray: #4b5567;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin: 0;
  padding: 0;
  color: var(--black);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.results {
  width: 100%;
  display: flex;

  flex-wrap: wrap;
}
.results img {
  width: 100%;
}
.results .recipe-wrapper {
  flex-basis: 33%;
  box-sizing: border-box;
}
.results .recipe-wrapper:first-of-type {
  flex-basis: 66%;
}
.results .recipe-wrapper:first-of-type img {
  object-fit: cover;
  aspect-ratio: 2;
}
